@use 'sass:math';

:root {
	--title-font: 'SF Mono', sans-serif;
	--main-font: 'SF Mono', sans-serif;
	
	--accent: #E4D7D7;
	--accent-hover: #5F5353;
	--accent-active: #5F5353;

	--text-color: #161414;

	--white: #FFF;
	--black: #000;

	--container-padding: 0.9375rem;
	--height-header: 5.9375rem;
}

@keyframes textCursor {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

html {
	font-size: 16px;
	min-height: 100%;
	min-width: 320px;

	scrollbar-color: var(--accent-active) var(--black);
	::-webkit-scrollbar {
		background: var(--black);
		transition: background .2s ease;
	}
	::-webkit-scrollbar-thumb {
		background: var(--accent-active);
		border-radius: 0.375rem;
		border: 0.25rem solid var(--black);
		transition: background .2s ease, border-color .2s ease;
	}

	@media (min-width: 1440px) {
		font-size: 1.058201vw;
	}
}

body {

	min-height: 100%;
	min-width: 320px;

	font-family: var(--main-font);
	font-weight: 400;
	line-height: 150%;
	font-size: 1rem;

	display: flex;
	flex-direction: column;

	background: var(--black);
	color: var(--white);

	transition: background .3s ease;

	@include _992 {
		--height-header: 4.375rem;
	}

	&.is-mobile-menu-active {
		overflow: hidden;
	}
	
}

.fade-in-on-start {
	opacity: 0;
}

html.light-mode {
	/* scrollbar-color: var(--accent) var(--white);
	::-webkit-scrollbar {
		background: var(--white);
	}
	::-webkit-scrollbar-thumb {
		background: var(--accent);
		border-radius: 0.375rem;
		border: 0.25rem solid var(--white);
	} */
}

html.light-mode body {
	background: var(--white);
	color: var(--text-color);
}

html.light-mode .header__nav a {
	@media (any-hover: hover) {
		&:active {
			color: var(--text-color);
		}
	}
}

html.light-mode .footer__social a {
	@media (any-hover: hover) {
		&:active {
			color: var(--text-color);
		}
	}
}

.image-aspect-ratio {
	width: 100%; height: auto;
	@supports (aspect-ratio: 1) {
		aspect-ratio: var(--aspect-ratio);
	}
}

section {
	position: relative;
	z-index: 2;
}

.inner {
	flex: 1 1;

	display: flex;
	flex-direction: column;
}

.wrapper {
	flex: 1 1 auto;

	opacity: 0;
	
	display: flex;
	flex-direction: column;

	> * {
		min-height: 100vh;

		display: flex;
		flex-direction: column;
	}

	.simplebar-content {
		min-height: max(100vh, 100%);
		&::before, &::after {
			display: none;
		}

		display: grid;

		> * {
			grid-area: 1/1;
			align-self: self-start;
			min-height: 100vh;

			display: flex;
			flex-direction: column;
		}
	}
}

.main-background {
	position: fixed;
	right: 0; top: 0;
	width: 100%; height: 100vh;
	z-index: 2;

	-webkit-mask: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 100%);

	@include _992 {
		opacity: 1;
		-webkit-mask: none;
	}

	div {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		background: right / auto 100% no-repeat;
		z-index: 2;

		&:nth-child(2) {
			opacity: 0;
		}
	}
}

.main {
	overflow: hidden;

	flex: 1 0 auto;
	position: relative;

	display: flex;
	flex-direction: column;
	
}

.container {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	
	@media (min-width: 1440px) {
		padding-left: 8rem;
		padding-right: 8rem;
	}
}

.button {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	
	padding: 7px 15px;

	background: var(--accent);
	color: var(--white);

	border-radius: 15px;

	transition: background .3s ease;
}

.visually-hidden {
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.visible-on-mob {
	@include _992 {
		display: none !important;
	}
}

.visible-on-desktop {
	@media (max-width: 991px) {
		display: none !important;
	}
}

[aria-hidden="true"] {
	pointer-events: none; user-select: none;
}

.simplebar-track.simplebar-vertical {
	width: 1rem;
}

.simplebar-scrollbar::before {
	background: var(--accent-active);
	top: 0.25rem; left: 0.25rem;
	right: 0.25rem; bottom: 0.25rem;
}
