.chat {

	min-height: 100%;
	flex: 1 1;
	padding-top: var(--height-header);

	display: flex;
	flex-direction: column;

	&::before {
		content: "";
		position: fixed;
		left: 0; top: 0;
		width: 100%; height: var(--height-header,5.625rem);
		background: var(--black);
	}
	//min-height: 100vh;

	// .chat__list

	&__list {
		flex: 1 1;

		max-width: 60rem;
	}

	// .chat__ai_message

	&__ai_message {
		&:not(:first-child) {
			padding-top: 1.25rem;
		}

		font-size: 1.125rem;
		line-height: 125%;
		color: #8E8484;

		@include _550 {
			font-size: 1.5rem;
		}

		@include _992 {
			font-size: 2rem;
		}
	}

	&__ai_message + &__user_message {
		&:not(:first-child) {
			padding-top: 2.5rem;
		}
	}

	// .chat__user_message

	&__user_message {
		&:not(:first-child) {
			padding-top: 1.25rem;
		}

		line-height: 125%;
		color: var(--white);
		font-size: 1.125rem;
		text-align: end;

		@include _550 {
			font-size: 1.5rem;
		}

		@include _992 {
			font-size: 2rem;
		}
	}

	// .chat__textarea

	&__textarea {

		position: relative;
		
		margin-top: 2rem;
		&.has-value &_button {
			opacity: 1; visibility: visible;
		}

		&::before {
			content: "";
			position: absolute;
			left: 50%; top: 0;
			transform: translate(-50%,0);
			width: 100vw; height: 0.0625rem;
			background: var(--white);
			opacity: .3;
		}
		
		&_container {
			position: relative;

			display: grid;
			grid-template-columns: calc(100% - 2.5rem) 2.5rem;

			@include _550 {
				grid-template-columns: calc(100% - 7.5rem) 5.625rem;
			}

			max-width: 60rem;

			
		}

	}

	// .chat__textarea_inner

	&__textarea_inner {

		min-height: 7.8125rem;
		
		@include _550 {
			padding-right: 2rem;
		}

		@include _992 {
			min-height: 10.625rem;
		}

		&.in-static-focus::after {
			opacity: 1;
		}

		&[data-value] {
			display: grid;
		}

		&[data-value]::before {
			
			padding: 3rem 1rem 3rem 0;
			content: attr(data-value) ' ';
			visibility: hidden;
			white-space: pre-wrap;
			width: 100%; //max-width: calc(100vw - 0.9375rem);
			//max-width: calc(100% - 2.5rem);
			@include _550 {
				max-width: calc(100% - 5.625rem);
				font-size: 1.5rem;
			}
			
			/* @media (min-width: 1440px) {
				max-width: calc(100vw - 16rem);
			} */
			grid-area: 1/1;

			//color: var(--white);
			opacity: 0;
			font-size: 1rem;
			line-height: 118.75%;

			@include _992 {
				font-size: 3rem;
				padding: 3.25rem 2rem 3rem 0;
			}
			
			//hanging-punctuation: first last;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0; top: 50%;
			translate: 0 -65%;
			
			width: 0.125rem; height: 2.5rem;
			@include _992 {
				width: 0.25rem; height: 5rem;
				translate: 0 -50%;
			}

			opacity: 0;
			transition: opacity .2s ease;

			background: var(--white);
			z-index: 2;

			animation: textCursor 1s ease 0s infinite normal forwards;

		}
		
		textarea {
			
			width: 100%;
			padding: 3rem 1rem 3rem 0;

			position: absolute;
			left: 0; top: 0;
			width: 100%; min-height: 100%; height: 100%;
			//max-width: calc(100vw - 15px);
			max-width: calc(100% - 2.5rem);
			z-index: 2;

			overflow: hidden;

			resize: none;
			//opacity: 1;

			@include _550 {
				max-width: calc(100% - 5.625rem);
				font-size: 1.5rem;
			}

			font-size: 1rem;
			line-height: 118.75%;
			@include _992 {
				font-size: 3rem;
				padding: 3.25rem 2rem 3rem 0;
			}
			
			//hanging-punctuation: first last;
			//word-break: break-all;
			
			background: transparent;
			color: var(--white);

			&::placeholder {
				color: var(--accent-active);
			}
		}
	}

	// .chat__textarea_button

	&__textarea_button {
		text-align: end;
		justify-self: end;

		background: transparent;
		color: var(--white);

		z-index: 2;

		transition: opacity .3s ease, visibility .3s ease;
		opacity: 0; visibility: hidden;

		svg {
			width: 2.5rem; height: 2.5rem;
		}
	}
}
