.index {

	//display: grid;
	&::before {
		content: "";
		position: fixed;
		left: 0; top: 0;
		width: 100%; height: var(--height-header);
		background: var(--black);
		z-index: 2;
	}

	// .index__hero

	&__hero {
		
		/* position: absolute;
		left: 0; top: 0;
		min-height: 100vh; */

		display: flex;
		flex-direction: column;
		justify-content: center;

		height: 100vh;
		height: 100svh;

		&_inner {
			margin: 0 0 calc(100vh - 100svh);
			@include _992 {
				margin: 1rem 0;
			}
		}
	}

	&__inner {
		min-height: 100vh;
		display: grid;
	}

	&__block {
		min-height: 100vh;
		grid-area: 1/1;

		&:nth-child(1) {
			pointer-events: none;
			align-self: self-start;
		}

		&:nth-child(2) {
			position: relative;
			z-index: 1;
			
		}
	}

	// .index__title

	&__title {
		font-weight: 700;
		font-size: 2.5rem;
		line-height: 119.791667%;
		letter-spacing: 0.24em;
		text-transform: uppercase;
		color: var(--accent);

		@include _550 {
			font-size: 3.5rem;
		}

		@include _992 {
			font-size: 6rem;
		}

		//mix-blend-mode: screen;
	}

	// .index__slogan

	&__slogan {
		font-style: italic;
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 118.75%;
		hanging-punctuation: first last;
		color: var(--accent);

		@include _550 {
			font-size: 1.5rem;
		}

		@include _992 {
			font-size: 2rem;
		}
	}

	// .index__about

	&__about {
		//padding-top: 100vh;
		margin-top: 95vh;
		margin-top: calc(95vh - (100vh - 100svh));

		font-size: 1.125rem;
		line-height: 125%;
		//hanging-punctuation: first last;

		@include _550 {
			font-size: 1.5rem;
		}

		color: #8E8484;
		font-kerning: none;

		max-width: 60rem;

		@include _992 {
			font-size: 2rem;
			margin-top: 95vh;
		}

		p:not(:first-child) {
			padding-top: 2rem;
		}

		.line {
			-webkit-mask: linear-gradient(90deg, #000 var(--progress,0%), rgba(0,0,0,0.5) var(--progress-2,20%));
		}
	}

	// .index__chat

	&__chat {
		padding-top: 10vh;

		display: flex;
		flex-direction: column;

		max-width: 60rem;
	}

	// .index__chat_list

	&__chat_list {
		//min-height: 6.25rem;
		min-height: 10vh;
		margin-top: 10vh;
		@include _992 {
			margin-top: 10vh;
		}
	}

	// .index__chat_item

	&__chat_item {
		&:not(:first-child) {
			padding-top: 1.25rem;
		}

		display: none;

		font-size: 1.125rem;
		line-height: 125%;
		color: #8E8484;

		@include _550 {
			font-size: 1.5rem;
		}

		@include _992 {
			font-size: 2rem;
		}

		//height: 0;

		/* span {
			display: block;
			padding: 0.4375rem 0;

			opacity: 0; visibility: hidden;
			transition: opacity .3s ease, visibility .3s ease;
		} */

		/* &.is-visible span {
			opacity: 1; visibility: visible;
		} */
		.typed-cursor {
			display: none;
		}

		&.is-active .typed-cursor {
			display: inline-block;
		}

		&.is-visible {
			display: block;
		}
	}

	&__chat_item + &__chat_user_item {
		&:not(:first-child) {
			padding-top: 2rem;
		}
	}

	&__chat_user_item {
		&:not(:first-child) {
			padding-top: 1.25rem;
		}

		text-align: end;

		font-size: 1.125rem;
		line-height: 125%;
		color: var(--white);

		@include _550 {
			font-size: 1.5rem;
		}

		@include _992 {
			font-size: 2rem;
		}
	}

	// .index__chat_field

	&__chat_field {
		//margin-top: 3.125rem;

		display: block;
		position: relative;
		z-index: 2;
		
		width: 100%; min-height: 1.75rem;
		margin: 4rem 0;

		@include _992 {
			margin: 8.125rem 0;
			min-height: 3.5625rem;
		}

		&.in-focus .text-cursor {
			opacity: 1;
		}

		&.in-focus .text-cursor::before {
			animation: textCursor 1s ease 0s infinite normal forwards;
		}

		.text-cursor {
			position: absolute;
			left: 0; top: 0;
			display: inline-block;

			width: 0.125rem; height: 2.5rem;
			@include _992 {
				width: 0.25rem; height: 5rem;
			}

			opacity: 0;
			transition: opacity .2s ease;
			
			&::before {
				content: "";
				position: absolute;
				left: 0; top: 0%;
				translate: 0 -85%;
				@include _992 {
					translate: 0 -85%;
				}
				width: 100%; height: 100%;
				background: var(--white);
				
			}
			//transform: translate(-1ch,0);
		}

		&.has-value &_text::before {
			opacity: 0;
		}

		&_text {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%; min-height: 3.5625rem;

			font-size: 1.5rem;
			@include _992 {
				font-size: 3rem;
			}
			line-height: 118.75%;

			min-width: 1ch;

			&::before {
				content: attr(data-placeholder);
				position: absolute;
				left: 0; top: 0;
				font-size: 1.5rem;
				@include _992 {
					font-size: 3rem;
				}
				line-height: 118.75%;
				color: #8E8484;
				opacity: 0.4;

				transition: opacity .2s ease;
			}

			
			
			color: var(--white);
			//hanging-punctuation: first last;
			> span:first-child {
				white-space: pre-wrap;
			}

			.last-letter {
				display: inline-block;
				//min-height: 1ch; min-width: 1ch;
			}
			
		}

		&.in-static-focus &_inner::after {
			opacity: 1;
			animation: textCursor 1s ease 0s infinite normal forwards;
		}

		&_inner {
			&[data-value] {
				display: grid;
			}
	
			&[data-value]::before {
				content: attr(data-value) ' ';
				visibility: hidden;
				white-space: pre-wrap;
				width: 100%; max-width: calc(100vw - 0.9375rem);
				@media (min-width: 1440px) {
					max-width: calc(100vw - 16rem);
				}
				grid-area: 1/1;
	
				color: transparent;
				font-size: 1.5rem;
				@include _992 {
					font-size: 3rem;
				}
				line-height: 118.75%;
				//hanging-punctuation: first last;
			}

			&::after {
				content: "";
				position: absolute;
				left: 0; top: 0%;
				translate: 0 -15%;
				
				width: 0.125rem; height: 2.5rem;
				@include _992 {
					width: 0.25rem; height: 5rem;
				}

				opacity: 0;
				transition: opacity .2s ease;

				background: var(--white);
				z-index: 2;

			}
		}

		textarea {
			position: absolute;
			left: 0; top: 0;
			width: 100%; min-height: 100%; height: 100%;
			z-index: 2;

			resize: none;

			font-size: 1.5rem;
			@include _992 {
				font-size: 3rem;
			}
			line-height: 118.75%;
			//hanging-punctuation: first last;
			//word-break: break-all;
			
			background: transparent;
			color: var(--white);

			&::placeholder {
				color: var(--accent-active);
			}
		}
	}
}
